<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8"/>
<title>trainer information</title>
</head>
<body>

<p>wellcome to home</p>



<!-- 
           
            
  <table border="1">
    <thead>
    <td>ID</td>
    <td>firstName</td>
    <td>lastName</td>
    <td>jobTitle</td>
    <td>subject</td>
    <td>department</td>
    <td colspan="2">action</td>
     
    </thead>
    
    <tr th:each="member : ${trainers}">
    <td th:text="${member.id}"></td>
    <td th:text="${member.firstName}"></td>
    <td th:text="${member.lastName}"></td>
     <td th:text="${member.jobTitle}"></td>
     <td th:text="${member.subject}"></td>
     <td th:text="${member.department}"></td>
    <td><a th:href="@{'/member/edit/'+${member.id}}">Edit</a></td>
    <td><a th:href="@{'/member/delete/'+${member.id}}">Delete</a></td>
    </tr>
    </table> -->
    
</body>
</html>